<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>

body{
     font-family: 'Gotham SSm A','Gotham SSm B',Arial !important;
     font-size: 11px !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
    -webkit-font-smoothing: antialiased!important;
    -moz-font-smoothing: antialiased!important;
    font-smoothing: antialiased!important;
}
.top{
margin-top:-15px;
}
.body.tier3 div.detail-billboard .info, 
.body.tier3 div.detail-billboard .lists {
    padding-left: 60px;
    margin-bottom: 54px !important;
}
.page-container{
    margin: 0 auto ;
    width: 100%;
}

.page-container p{
font-size:16px;
}
a{
    color: #eb002a;
    outline: 0;
    text-decoration: none;
}
a:hover, a:focus {
    color: unset!important;
    text-decoration: unset !important;
}


.row.header{margin:0 !important}
.carousel-item{
background-repeat: no-repeat;
background-size:cover;
background-position: center center;
height:100vh!important;
background-color: rgba(0,0,0,0.4);
background-blend-mode: multiply;
}

.header a {
    text-decoration: none !important;
}


.section-heading{
  display: block;
    margin: 0 auto 27px;
    max-width: 765px;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #eb002a;
    font-weight: 700;
    line-height: 1.1;
}

.col-lg-2{
	border: 1px solid #D1D2D4;
	text-align:center;
	padding:20px;
        margin: 10px;
}
#logo-grid h4{
	font-size:16px;
        min-height: 70px;
}
 #logo-grid img{
          width:100%;
}
 #logo-grid {
            top: 50px;
            clear: both;
 }


@media screen and (max-width:1024px){
 #logo-grid {
     position: relative;
     left: 50px;
 }
.col-lg-2{
width:30%;
float:left;
}

}

.custom-cta {
padding: 6% 0;
background-color: #EB002A;
text-align:center;
color:#fff;
margin: 54px 0 0!important;
}
.custom-cta h2{
  padding: 3% 17%;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
}
.cta-btn-white{
    background: #FFF;
    color: #000;
    font-size: 24px;
    padding: 15px 32px;
    font-weight: 700;
    border: none;
    border-radius: 0;
text-transform:uppercase;
}
.cta-btn-white:hover, .cta-btn-white:focus{ color:#000 !important}

.ct-btn{
    background: #eb002a;
    border: none;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    outline: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
   text-transform:uppercase;
}
.ct-btn:focus, .ct-btn:hover {
    background: #af1924 !important;
color:#fff !important
}




html.desktop .submenu-dropdown  .col-md-20, 
html.desktop .submenu-dropdown .col-sm-20, 
html.mobile .submenu-dropdown .col-xs-20 {
    width: 33.3333% !important;
}

.flex-row{
display:flex;
align-items: center;
}

.content{padding-top:80px; padding-bottom:80px;}
.mb40{margin-bottom:40px;}
.team-block { margin-bottom: 20px; }
.team-content { position: absolute; background-color: rgba(17, 24, 31, 0.8); bottom: 0px; display: inline-block; width: 100%; color: #fff; padding: 30px; }
.team-img { position: relative;   margin-right: 20px; }
.team-img img { width: 100%; }
.team-title { }
.team-meta, .team-meta a { color: #ffffff !important; font-weight: 600; font-size: 16px; text-decoration:none; line-height:16px !important; }
.team-meta a:hover{color:#ffffff!important}
.overlay { border-radius: 0px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: 1s ease; background-color: #EB002A; }
.team-img:hover .overlay { opacity: .8; }
.team-img:hover .team-content { opacity: 0; }
.mb-text { color: #fff; position: absolute; top: 30%; left: 30%; transform: translate(-26%, -26%); -ms-transform: translate(-26%, -26%); right: 0; font-weight: 400; font-size: 16px; }
.team-section{padding-top:80px}
.biography{padding-top:20px;}

</style>


‪<div class="page-container">
        <div class="container">
            <div class="width-wrapper">
                
                <div class="container team-section">
                       <div class="row">
                          <div class="col-xs-12 col-sm-12 col">
                               <h1 class="section-heading">Key Contacts</h1>
                        </div>
                     </div>
                    
              
            
                    <div class="row" style="clear:both">
                         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- team-img -->
                            <div class="team-block">
                                   <div class="team-img">
                                           <img src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80 634w" alt="">
                                           <div class="team-content">
                                                 <h2 class="text-white mb0">Team Member Name</h2>
                                                 <p class="team-meta">Company Position</p>
                                          </div>
                                         <div class="overlay">
                                                  <div class="mb-text">
                                                          <h2 class="mb0 text-white">Team Member Name</h2>
                                                           <p class="mb30 team-meta">Company Position</p>
                                                           <p class="team-meta"><a href="tel: +353012345678">T:  +353 01 234 5678</a></p>
                                                           <p class="team-meta"><a href="mailto:teammember@email.com">Contact member Name</a></p>
                                                          <p class="biography"><strong>Biography:</strong><br>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete 
                                                                   euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis.</p>
                                                    </div>  <!-- /text -->
                                        </div>  <!-- /overlay -->
                                  </div>  <!-- /team-img -->
                            </div>  <!-- team-block -->
                        </div>  <!--/col-->
                 
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                             <!-- team-img -->
                            <div class="team-block">
                                   <div class="team-img">
                                           <img src="https://images.pexels.com/photos/1024311/pexels-photo-1024311.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="">
                                           <div class="team-content">
                                                 <h2 class="text-white mb0">Team Member Name</h2>
                                                 <p class="team-meta">Company Position</p>
                                          </div>
                                         <div class="overlay">
                                                  <div class="mb-text">
                                                          <h2 class="mb0 text-white">Team Member Name</h2>
                                                           <p class="mb30 team-meta">Company Position</p>
                                                           <p class="team-meta"><a href="tel: +353012345678">T:  +353 01 234 5678</a></p>
                                                           <p class="team-meta"><a href="mailto:teammember@email.com">Contact member Name</a></p>
                                                          <p class="biography"><strong>Biography:</strong><br>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete 
                                                                 euismod justam ac temlibern rutrum nisli in mi rhoncac  pharetra odioacin ntesque dictum vel risus quis.</p>
                                                    </div>  <!-- /text -->
                                        </div>  <!-- /overlay -->
                                  </div>  <!-- /team-img -->
                            </div>  <!-- team-block -->
                        </div>  <!--/col-->
    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- team-img -->
                            <div class="team-block">
                                   <div class="team-img">
                                           <img src="https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80 634w" alt="">
                                           <div class="team-content">
                                                 <h2 class="text-white mb0">Team Member Name</h2>
                                                 <p class="team-meta">Company Position</p>
                                          </div>
                                         <div class="overlay">
                                                  <div class="mb-text">
                                                          <h2 class="mb0 text-white">Team Member Name</h2>
                                                           <p class="mb30 team-meta">Company Position</p>
                                                           <p class="team-meta"><a href="tel: +353012345678">T:  +353 01 234 5678</a></p>
                                                           <p class="team-meta"><a href="mailto:teammember@email.com">Contact member Name</a></p>
                                                          <p class="biography"><strong>Biography:</strong><br>Mauris tincidunt dolor eget diam dapibus vitae finibusnisl friuisque pretiuam egete 
                                                                           euismod justam ac temlibern rutrum nisli in mi rhoncac pharetra odioacin ntesque dictum vel risus quis.</p>
                                                    </div>  <!-- /text -->
                                        </div>  <!-- /overlay -->
                                  </div>  <!-- /team-img -->
                            </div>  <!-- team-block -->
                        </div>  <!--/col-->
    
                    </div><!--/row-->
                </div><!--/container team-section-->
              </div><!--/width-wrapper-->
        </div><!--/container-->
    
    
    <div class="custom-cta container-fluid">
            <div class="width-wrapper flex-row">
                        <div class="col-xs-12 col-sm-6 " >
                              <h2 class="upper">How can we help?</h2>
                              <p>Let us bring our expertise and custom solutions to your business.</p>
                        </div>
                        <div class="col-xs-12  col-sm-6 link">
                                 <a class="cta-btn-white" href="/Contact" title="Contact Us">Contact Us</a>
                        </div>
             </div>
        
    </div><!--/custom-cta-->
    
        
    
    </div><!--/page-container-->
    
    
    
    
    
    
    
    
    <div id="logo-grid" class="row">
                <div class="col-lg-2">
                    <img src="/sitecore/shell/Applications/-/media/ec416b7383af40fb94cfa3814b9a6fa4.ashx?db=master&la=en-gb&vs=1&ts=20181220t1315560793" class="img-fluid" alt="Responsive image">
                    <h4><strong>ACCA</strong><br>( Association of chartered certified Accountants )</h4>
                </div>
                <div class="col-lg-2">
                  <img src="/sitecore/shell/Applications/-/media/4afc60faedf94d6ea8d347eaf917387b.ashx?db=master&la=en-gb&vs=1&ts=20181220t1318203930" class="img-fluid" alt="Responsive image">
                    <h4><strong>BCO</strong><br>(British Council for Offices)</h4>
              </div>
                <div class="col-lg-2">
                  <img src="/sitecore/shell/Applications/-/media/732eb9540ddf4dce8597ec3855e92e6f.ashx?db=master&la=en-gb&vs=1&ts=20181220t1319058778" class="img-fluid" alt="Responsive image">
                    <h4><strong>CAI</strong><br>(Chartered Accountants Ireland)</h4>
                </div>
                <div class="col-lg-2">
                  <img src="/sitecore/shell/Applications/-/media/22093b30cb144f01a35a7c950f3df2c2.ashx?db=master&la=en-gb&vs=1&ts=20181220t1319562219" class="img-fluid" alt="Responsive image">
                    <h4><strong>IEI</strong><br>(Institution of Engineers of Ireland)</h4>
                </div>
                <div class="col-lg-2">
                  <img src="/sitecore/shell/Applications/-/media/ec556eb895494e8fb5fcc8b43972e43e.ashx?db=master&la=en-gb&vs=1&ts=20181220t1320323160" class="img-fluid" alt="Responsive image">
                    <h4><strong>EI</strong><br>(Energy Institute)</h4>
                </div>
                <div class="col-lg-2">
                    <img src="/sitecore/shell/Applications/-/media/c5d95ac21e734e7ca6e016022b140c84.ashx?db=master&la=en-gb&vs=1&ts=20181220t1320572225" class="img-fluid" alt="Responsive image">
                    <h4><strong>RICS</strong><br>(Royal Institution of Chartered Surveiors)</h4>
                </div>
                <div class="col-lg-2">
                    <img src="/sitecore/shell/Applications/-/media/66084ab70f584057a8be32bf8a4eaaff.ashx?db=master&la=en-gb&vs=1&ts=20181220t1321551136" class="img-fluid" alt="Responsive image">
                    <h4><strong>SCSI</strong><br>(Society of Chartered Surveyors Ireland)</h4>
                </div>
                <div class="col-lg-2">
                  <img src="/sitecore/shell/Applications/-/media/1d52711a42f24001a93977ff8de2d8c7.ashx?db=master&la=en-gb&vs=1&ts=20181220t1322271295" class="img-fluid" alt="Responsive image">
                    <h4><strong>BSSC</strong><br>(British Council of Shopping Centres)</h4>
                </div>
                <div class="col-lg-2">
                  <img src="/sitecore/shell/Applications/-/media/2137ef93a4f04a60886ab77b3dada893.ashx?db=master&la=en-gb&vs=1&ts=20181220t1322586454" class="img-fluid" alt="Responsive image">
                    <h4><strong>ISO</strong><br>(ISO Accreditations & Compliances)</h4>
                </div>
    </div>
             
       
    <script>
    (function($) {
        $(function() {
            const logoGrid= $('#logo-grid');
            const footer = $('.footer-top');
                    const pageCont= $('.page-container');
                    const bodyFirst= $('.tier3 ');
    
            footer.append(logoGrid);
                   bodyFirst.append(pageCont);
        });
    })(jQuery);
    
    </script>




