

/* slider css starts here */

.new-design .body.homepage .top-billboard .top .copy h2 {
    margin-top: 0;
    font-size: 90px;
    line-height: 105px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
}
.text-box {
	position: absolute;
	top: 50%;
	left: 15%;
	right: 15%;
	color: #fff;
	text-align: center;
	transform: translateY(-50%);
}











/* about us page starts here */



      .header a {
          text-decoration: none !important;
      }
      a {
          color: #eb002a !important;
          text-decoration: none!important;
      }
      a:hover {
          color: #eb002a !important;
          text-decoration: underline;
      }
      
      .section-heading{
      border-bottom: 4px solid #EB002A;
      display:inline-block;
      padding: 0 0 8px;
      margin-bottom:54px;
      position:relative
      }
      .section-content{
      display:inline-block;
      position:relative
      }
      .image-panel{
       margin: 125px 0 0 54px;
      text-align:center; 
      background-image:url('https://media.istockphoto.com/photos/dublin-from-above-picture-id876038176?s=2048x2048'); 
      background-size:cover;
      
      }
      .image-panel h3{
      height: 450px;
       max-height: 530px;
       opacity: 0;
      }
      
      
      
      
      
      
      .col-lg-2{
            border: 1px solid #D1D2D4;
            text-align:center;
            padding:20px;
              margin: 10px;
      }
      #logo-grid h4{
            font-size:16px;
              min-height: 70px;
      }
       #logo-grid img{
                width:100%;
      }
       #logo-grid {
                  top: 50px;
                  clear: both;
       }
      
      
      @media screen and (max-width:1024px){
       #logo-grid {
           position: relative;
           left: 50px;
       }
      .col-lg-2{
      width:30%;
      float:left;
      }
      
      }
      
      
      .content{padding-top:80px; padding-bottom:80px;}
      .mb40{margin-bottom:40px;}
      .team-block { margin-bottom: 20px; }
      .team-content { position: absolute; background-color: rgba(17, 24, 31, 0.8); bottom: 0px; display: inline-block; width: 100%; color: #fff; padding: 30px; }
      .team-img { position: relative;   margin-right: 20px; }
      .team-img img { width: 100%; }
      .team-title { }
      .team-meta, .team-meta a { color: #ffffff !important; font-weight: 600; font-size: 16px; text-decoration:none; line-height:16px !important; }
      .team-meta a:hover{color:#ffffff!important}
      .overlay { border-radius: 0px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: 1s ease; background-color: #EB002A; }
      .team-img:hover .overlay { opacity: .8; }
      .team-img:hover .team-content { opacity: 0; }
      .mb-text { color: #fff; position: absolute; top: 30%; left: 30%; transform: translate(-26%, -26%); -ms-transform: translate(-26%, -26%); right: 0; font-weight: 400; font-size: 16px; }
      .team-section{padding-top:80px}
      .biography{padding-top:20px;}
            
	  
	  

	  /* home page styles */


	  body{
		font-family: 'Gotham SSm A','Gotham SSm B',Arial !important;
		font-size: 11px !important;
	   text-shadow: 1px 1px 1px rgba(0,0,0,.004);
	   -webkit-font-smoothing: antialiased!important;
	   -moz-font-smoothing: antialiased!important;
	   font-smoothing: antialiased!important;
   }
   
   a{
	   color: #eb002a;
	   outline: 0;
	   text-decoration: none;
   }
   a:hover, a:focus {
	   color: unset!important;
	   text-decoration: unset !important;
   }
   
   .homepage .innovation-billboard, .homepage  .top-billboard, .homepage  .width-wrapper  {display:none !important}
   .text-box.copy h1 {
	   margin-top: 54px;
	   font-size: 50px;
	   text-transform: uppercase;
	   text-shadow: 1px 1px 2px #000;
   }
   .text-box {
	   position: absolute;
	   top: 50%;
	   left: 15%;
	   right: 15%;
	   color: #fff;
	   text-align: center;
	   transform: translateY(-50%);
   }
   .row.header{margin:0 !important}
   .carousel-item{
   background-repeat: no-repeat;
   background-size:cover;
   background-position: center center;
   height:100vh!important;
   background-color: rgba(0,0,0,0.4);
   background-blend-mode: multiply;
   }
   
   .header a {
	   text-decoration: none !important;
   }
   
   
   .section-heading{
	 display: block;
	   margin: 0 auto 27px;
	   max-width: 765px;
	   font-size: 48px;
	   text-align: left;
	   text-transform: uppercase;
	   color: #eb002a;
	   font-weight: 700;
	   line-height: 1.1;
   }
   
   
   
   .section-content{
   display:inline-block;
   position:relative
   }
   .section-content p{
   font-size:16px !important
   }
   
   .image-panel{
	margin: 125px 0 0 54px;
   text-align:center; 
   background-image:url('https://media.istockphoto.com/photos/dublin-from-above-picture-id876038176?s=2048x2048'); 
   background-size:cover;
   
   }
   .image-panel h3{
   height: 450px;
	max-height: 530px;
	opacity: 0;
   }
   
   
   
   .col-lg-2{
	   border: 1px solid #D1D2D4;
	   text-align:center;
	   padding:20px;
		   margin: 10px;
   }
   #logo-grid h4{
	   font-size:16px;
		   min-height: 70px;
   }
	#logo-grid img{
			 width:100%;
   }
	#logo-grid {
			   top: 50px;
			   clear: both;
	}
   
   
   @media screen and (max-width:1024px){
	#logo-grid {
		position: relative;
		left: 50px;
	}
   .col-lg-2{
   width:30%;
   float:left;
   }
   
   }
   
   .custom-cta {
   padding: 3% 0;
   background-color: #EB002A;
   text-align:center;
   color:#fff;
   margin:80px 0  0!important;
   }
   .custom-cta h2{
	 padding: 3% 17%;
	   font-size: 36px;
	   text-transform: uppercase;
	   font-weight: 700;
	   line-height: 1.1;
   }
   .cta-btn-white{
	   background: #FFF;
	   color: #000;
	   font-size: 24px;
	   padding: 15px 32px;
	   font-weight: 700;
	   border: none;
	   border-radius: 0;
   text-transform:uppercase;
   }
   .cta-btn-white:hover, .cta-btn-white:focus{ color:#000 !important}
   
   .ct-btn{
	   background: #eb002a;
	   border: none;
	   border-radius: 0;
	   color: #fff;
	   display: inline-block;
	   font-weight: 700;
	   margin-top: 15px;
	   margin-bottom: 15px;
	   outline: 0;
	   -webkit-transition: all .2s ease-in-out;
	   -moz-transition: all .2s ease-in-out;
	   transition: all .2s ease-in-out;
	   padding: 10px 20px;
	   font-size: 14px;
	   line-height: 1.42857143;
	   text-align: center;
	   white-space: nowrap;
	   vertical-align: middle;
	   cursor: pointer;
	  text-transform:uppercase;
   }
   .ct-btn:focus, .ct-btn:hover {
	   background: #af1924 !important;
   color:#fff !important
   }
   
   h1#first-slide{
   visibility:visible !important;
   animation-duration: 2s !important;
   animation-name: fadeIn !important;
   }
   
   